<!DOCTYPE html>
<html lang="en">
<style>
    .center{
        text-align: center;
    }
    .invisible{
        display: none;
    }
    .visible{
        display: show !important;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Photos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div id="video" class="col-6 center">
            <button id="videoButton" onclick="addVideo()">Live Video!</button>
            <video id="live-camera" class="invisible" autoplay></video><script src="feature.js"></script>
        <div id="video"></div>
        </div>
        <div id="upload" class="col-6 center">
            <form>
                <input type="file" id="myFile" name="filename">
                <input type="submit">
            </form>

        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
<script>
    // const populateButton = document.getElementById("video");
    // populateButton.addEventListener("click", addVideo);
    function addVideo(){
        const videoElement = document.getElementById("live-camera");
        if(videoElement.classList.length > 0){
            videoElement.classList.remove('invisible');
        }
        else{
            videoElement.classList.add('invisible');
        }
    }

    function getClassifications(imgPath){
        fetch('http://127.0.0.1:5500/analyze', {
            method: "GET",
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.result);
            })
            .catch(error => {
                console.error('Error calling Python analyze function:', error);
            });
    }
    console.log(getClassifications('/Users/fahadfaruqi/Desktop/veggieGuard/darknet/data/dog.jpg'))
</script>
