.bg{
    background: -moz-radial-gradient(circle at 50% 50%, rgba(255, 181, 202, 1) 0%, rgba(157, 244, 255, 1) 34%, rgba(255, 213, 181, 1) 63%, rgba(130, 238, 191, 1) 100%);


    background: -webkit-radial-gradient(circle at 50% 50%, rgba(255, 181, 202, 1) 0%, rgba(157, 244, 255, 1) 34%, rgba(255, 213, 181, 1) 63%, rgba(130, 238, 191, 1) 100%);

  
    background: -o-radial-gradient(circle at 50% 50%, rgba(255, 181, 202, 1) 0%, rgba(157, 244, 255, 1) 34%, rgba(255, 213, 181, 1) 63%, rgba(130, 238, 191, 1) 100%);

    background: -ms-radial-gradient(circle at 50% 50%, rgba(255, 181, 202, 1) 0%, rgba(157, 244, 255, 1) 34%, rgba(255, 213, 181, 1) 63%, rgba(130, 238, 191, 1) 100%);

    background: radial-gradient(circle at 50% 50%, rgba(255, 181, 202, 1) 0%, rgba(157, 244, 255, 1) 34%, rgba(255, 213, 181, 1) 63%, rgba(130, 238, 191, 1) 100%);

    background-size: 400% 400%;
        animation: gradient 8s ease infinite;
        color:#fff;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

form {
  background-color: #272838;
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  animation: slide-up 1.5s ease-in-out forwards;
}

header{
  background: fixed;
  background: linear-gradient(180deg, rgba(190, 255, 145, 1) 0%, rgba(130, 238, 198, 1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: stretch;
  font-weight: bold;
  box-shadow: 0 0 25px 0 black;
}


.navbar {
  z-index: 100px;
  overflow: hidden;
  position: fixed;
  top:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


header * {
  list-style: none;
  display: inline;
}
header li {
  display: flexbox;
  justify-content: center;
  align-items:end;
 
}
header li a {
 
  color: black;
  text-decoration: none;
}
header li:hover {
  text-decoration: underline;
}
.logo{
    position: relative;
}


.logo img{
  width: 35px;
  float: left;
}


.middle{
    display: flex;
    align-items:center;
}

.home{
  margin: 4rem;
  padding: 4rem;
  display: flex;
  align-items: center;
  font-size: 35px;
}


.slide-from-right-anim {
	-webkit-animation: slide-from-right-anim 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-from-right-anim 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-from-right-anim {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-from-right-anim {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

.slide-from-left-anim {
    -webkit-animation: slide-from-left-anim 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-from-left-anim 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-from-left-anim {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-from-left-anim {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
