<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>VeggieGuard</title>
</head>
<body class ="bg">

    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="#"><img class = "logo" src="assets/transparent_logo1.png" alt="Logo"><a href="#"><h1>VeggieGuard</h1></a></a>
            </div>
            <ul class="nav-items">
                <li><a href="#">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="feature.html">Uploads</a></li>
                <li><button><a href="login.html">Login</a></button></li>
                <li><button><a href="signup.html">Sign Up</a></button></li>
            </ul>
        </nav>
    </header>
    </div>
    <div class="home">
        <div class="slide-from-left-anim">
        <h1>Introducing VeggieGuard</h1>
        <h3>Combatting food waste one frame at a time</h3>
        </div>
        <img id="gif" class="slide-from-right-anim" src="assets/Untitled-design-unscreen.gif">
    </div>
    <div>
        <h1><a href="#About">About</a></h1>
<h1>Have you ever forgotten and wasted food in your fridge because you are too busy? Don't worry anymore! Veggie Guard identifies food in your fridge and notifies you when food is about to expire.
</h1>   </div>
    
</body>
</html>